<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReport.ListenerClass"></listener>
    </listeners>
<!--    <test verbose="2" preserve-order="true" name="C:/Users/yntlokwana/IdeaProjects/reveal_automation_framework">-->
    <test name="C:/Users/yntlokwana/IdeaProjects/reveal_automation_framework">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="PlanTests" />
            <class name="LogInPageTest" />
            <class name="LocationManagementTests" />
            <class name="UserTests" />
        </classes>
    </test>
</suite>
